Repository MetaMask/core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MetaMask/wallet-framework-engineers, @MetaMask/accounts-engineers, @MetaMask/metamask-assets, @MetaMask/confirmations, @MetaMask/notifications, @MetaMask/product-safety, @MetaMask/snaps-devs, @MetaMask/wallet-api-platform-engineers, @MetaMask/wallet-ux, @MetaMask/identity

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Note: Please keep this synchronized with the `teams.json` file in the repository root.
# That file is used for some automated workflows, and maps controller to owning team(s).

/.github/                            @MetaMask/wallet-framework-engineers

## Accounts Team
/packages/accounts-controller        @MetaMask/accounts-engineers
/packages/keyring-controller         @MetaMask/accounts-engineers
/packages/chain-controller           @MetaMask/accounts-engineers

## Assets Team
/packages/assets-controllers         @MetaMask/metamask-assets

## Confirmations Team
/packages/address-book-controller           @MetaMask/confirmations
/packages/approval-controller               @MetaMask/confirmations
/packages/ens-controller                    @MetaMask/confirmations
/packages/gas-fee-controller                @MetaMask/confirmations
/packages/logging-controller                @MetaMask/confirmations
/packages/message-manager                   @MetaMask/confirmations
/packages/name-controller                   @MetaMask/confirmations
/packages/signature-controller              @MetaMask/confirmations
/packages/transaction-controller            @MetaMask/confirmations
/packages/user-operation-controller         @MetaMask/confirmations

## Notifications Team
/packages/notification-services-controller     @MetaMask/notifications

## Product Safety Team
/packages/phishing-controller              @MetaMask/product-safety

## Snaps Team
/packages/rate-limit-controller            @MetaMask/snaps-devs

## Wallet API Platform Team
/packages/queued-request-controller        @MetaMask/wallet-api-platform-engineers

## Wallet Framework Team
/packages/base-controller              @MetaMask/wallet-framework-engineers
/packages/build-utils                  @MetaMask/wallet-framework-engineers
/packages/composable-controller        @MetaMask/wallet-framework-engineers
/packages/controller-utils             @MetaMask/wallet-framework-engineers
/packages/polling-controller           @MetaMask/wallet-framework-engineers
/packages/preferences-controller       @MetaMask/wallet-framework-engineers

## Wallet UX Team
/packages/announcement-controller      @MetaMask/wallet-ux

## Joint team ownership
/packages/eth-json-rpc-provider        @MetaMask/wallet-api-platform-engineers @MetaMask/wallet-framework-engineers
/packages/json-rpc-engine              @MetaMask/wallet-api-platform-engineers @MetaMask/wallet-framework-engineers
/packages/json-rpc-middleware-stream   @MetaMask/wallet-api-platform-engineers @MetaMask/wallet-framework-engineers
/packages/network-controller           @MetaMask/wallet-framework-engineers @MetaMask/metamask-assets
/packages/permission-controller        @MetaMask/wallet-api-platform-engineers @MetaMask/wallet-framework-engineers @MetaMask/snaps-devs
/packages/permission-log-controller    @MetaMask/wallet-api-platform-engineers @MetaMask/wallet-framework-engineers
/packages/selected-network-controller  @MetaMask/wallet-api-platform-engineers @MetaMask/wallet-framework-engineers @MetaMask/metamask-assets
/packages/profile-sync-controller      @MetaMask/notifications @MetaMask/identity

## Package Release related
/packages/accounts-controller/package.json        @MetaMask/accounts-engineers @MetaMask/wallet-framework-engineers
/packages/accounts-controller/CHANGELOG.md        @MetaMask/accounts-engineers @MetaMask/wallet-framework-engineers
/packages/address-book-controller/package.json    @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/address-book-controller/CHANGELOG.md    @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/announcement-controller/package.json    @MetaMask/wallet-ux @MetaMask/wallet-framework-engineers
/packages/announcement-controller/CHANGELOG.md    @MetaMask/wallet-ux @MetaMask/wallet-framework-engineers
/packages/approval-controller/package.json        @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/approval-controller/CHANGELOG.md        @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/assets-controllers/package.json         @MetaMask/metamask-assets @MetaMask/wallet-framework-engineers
/packages/assets-controllers/CHANGELOG.md         @MetaMask/metamask-assets @MetaMask/wallet-framework-engineers
/packages/chain-controller/package.json           @MetaMask/accounts-engineers @MetaMask/wallet-framework-engineers
/packages/chain-controller/CHANGELOG.md           @MetaMask/accounts-engineers @MetaMask/wallet-framework-engineers
/packages/ens-controller/package.json             @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/ens-controller/CHANGELOG.md             @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/gas-fee-controller/package.json         @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/gas-fee-controller/CHANGELOG.md         @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/keyring-controller/package.json         @MetaMask/accounts-engineers @MetaMask/wallet-framework-engineers
/packages/keyring-controller/CHANGELOG.md         @MetaMask/accounts-engineers @MetaMask/wallet-framework-engineers
/packages/logging-controller/package.json         @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/logging-controller/CHANGELOG.md         @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/message-manager/package.json            @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/message-manager/CHANGELOG.md            @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/name-controller/package.json            @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/name-controller/CHANGELOG.md            @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/notification-services-controller/package.json @MetaMask/notifications @MetaMask/wallet-framework-engineers
/packages/notification-services-controller/CHANGELOG.md @MetaMask/notifications @MetaMask/wallet-framework-engineers
/packages/phishing-controller/package.json    @MetaMask/product-safety @MetaMask/wallet-framework-engineers
/packages/phishing-controller/CHANGELOG.md    @MetaMask/product-safety @MetaMask/wallet-framework-engineers
/packages/profile-sync-controller/package.json    @MetaMask/notifications @MetaMask/identity @MetaMask/wallet-framework-engineers
/packages/profile-sync-controller/CHANGELOG.md    @MetaMask/notifications @MetaMask/identity @MetaMask/wallet-framework-engineers
/packages/queued-request-controller/package.json  @MetaMask/wallet-api-platform-engineers @MetaMask/wallet-framework-engineers
/packages/queued-request-controller/CHANGELOG.md  @MetaMask/wallet-api-platform-engineers @MetaMask/wallet-framework-engineers
/packages/signature-controller/package.json       @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/signature-controller/CHANGELOG.md       @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/rate-limit-controller/package.json      @MetaMask/snaps-devs @MetaMask/wallet-framework-engineers
/packages/rate-limit-controller/CHANGELOG.md      @MetaMask/snaps-devs @MetaMask/wallet-framework-engineers
/packages/transaction-controller/package.json     @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/transaction-controller/CHANGELOG.md     @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/user-operation-controller/package.json  @MetaMask/confirmations @MetaMask/wallet-framework-engineers
/packages/user-operation-controller/CHANGELOG.md  @MetaMask/confirmations @MetaMask/wallet-framework-engineers

Revert "chore: Remove `useRequestQueue` toggle to turn on/off Per Dapp Selected Network Feature (#4941)"
  packages/queued-request-controller/src/QueuedRequestMiddleware.test.ts
  packages/queued-request-controller/src/QueuedRequestMiddleware.ts
  packages/selected-network-controller/src/SelectedNetworkController.ts
  packages/selected-network-controller/tests/SelectedNetworkController.test.ts
Owners: @MetaMask/wallet-api-platform-engineers, @MetaMask/wallet-framework-engineers, @MetaMask/metamask-assets

Revert "chore: Remove `useRequestQueue` toggle to turn on/off Per Dapp Selected Network Feature (#4941)" (#5065)
  packages/queued-request-controller/src/QueuedRequestMiddleware.test.ts
  packages/queued-request-controller/src/QueuedRequestMiddleware.ts
  packages/selected-network-controller/src/SelectedNetworkController.ts
  packages/selected-network-controller/tests/SelectedNetworkController.test.ts
Owners: @MetaMask/wallet-api-platform-engineers, @MetaMask/wallet-framework-engineers, @MetaMask/metamask-assets

Migrate AbstractMessageManager from BaseControllerV1 to BaseControllerV2
  packages/message-manager/src/AbstractMessageManager.test.ts
  packages/message-manager/src/AbstractMessageManager.ts
  packages/message-manager/src/DecryptMessageManager.test.ts
  packages/message-manager/src/DecryptMessageManager.ts
  packages/message-manager/src/EncryptionPublicKeyManager.test.ts
  packages/message-manager/src/EncryptionPublicKeyManager.ts
Owners: @MetaMask/confirmations

Update packages/multichain/src/caip25Permission.test.ts
  packages/multichain/src/caip25Permission.test.ts
Owners: none

feat: add additional CAIP-19 types and parsing functions to align with proposal (#227)
  merged-packages/utils/src/__fixtures__/caip-types.ts
  merged-packages/utils/src/caip-types.test-d.ts
  merged-packages/utils/src/caip-types.test.ts
  merged-packages/utils/src/caip-types.ts
  merged-packages/utils/src/index.test.ts
  merged-packages/utils/src/node.test.ts
Owners: none
