Repository MetaMask/core, pull requests merged in 2025-08, with the labels that each got.

#6227 feat(multichain-account-service)!: add `KeyringAccount` instead of `InternalAccount`
  packages/multichain-account-service/CHANGELOG.md
  packages/multichain-account-service/src/MultichainAccountService.ts
  packages/multichain-account-service/src/providers/BaseAccountProvider.ts
Labels: team-accounts

#6222 feat(multichain-account-service): add multichain account create operations support
  packages/account-tree-controller/CHANGELOG.md
  packages/account-tree-controller/package.json
  packages/multichain-account-service/CHANGELOG.md
  packages/multichain-account-service/package.json
  packages/multichain-account-service/src/MultichainAccountGroup.ts
  packages/multichain-account-service/src/MultichainAccountService.test.ts
  packages/multichain-account-service/src/MultichainAccountService.ts
  packages/multichain-account-service/src/MultichainAccountWallet.test.ts
  packages/multichain-account-service/src/MultichainAccountWallet.ts
  packages/multichain-account-service/src/providers/BaseAccountProvider.ts
  packages/multichain-account-service/src/providers/EvmAccountProvider.test.ts
  packages/multichain-account-service/src/providers/EvmAccountProvider.ts
  packages/multichain-account-service/src/providers/SolAccountProvider.test.ts
  packages/multichain-account-service/src/providers/SolAccountProvider.ts
  packages/multichain-account-service/src/tests/accounts.ts
  packages/multichain-account-service/src/types.ts
  yarn.lock
Labels: team-accounts

#6230 Release/484.0.0
  package.json
  packages/bridge-controller/package.json
  packages/remote-feature-flag-controller/CHANGELOG.md
  packages/remote-feature-flag-controller/package.json
  packages/transaction-controller/package.json
  yarn.lock
Labels: team-mobile-platform

#6231 feat(multichain-account-service): allow custom account providers
  packages/multichain-account-service/CHANGELOG.md
  packages/multichain-account-service/src/MultichainAccountService.ts
  packages/multichain-account-service/src/index.ts
  packages/multichain-account-service/src/providers/BaseAccountProvider.ts
  packages/multichain-account-service/src/providers/SnapAccountProvider.ts
  packages/multichain-account-service/src/providers/SolAccountProvider.ts
  packages/multichain-account-service/src/providers/index.ts
Labels: team-accounts

#6215 feat: add multichain account syncing checks & logic branches
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/src/controllers/user-storage/UserStorageController.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/UserStorageController.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/controller-integration.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/controller-integration.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/setup-subscriptions.ts
Labels: no-changelog

#6238 feat(multichain-account-service): expose `createMultichainAccountGroup` action
  packages/multichain-account-service/CHANGELOG.md
  packages/multichain-account-service/src/MultichainAccountService.test.ts
  packages/multichain-account-service/src/MultichainAccountService.ts
  packages/multichain-account-service/src/types.ts
Labels: team-accounts

#6257 chore: Add missing TSDoc template directives
  packages/base-controller/src/Messenger.ts
  packages/base-controller/src/RestrictedMessenger.ts
  packages/messenger/src/Messenger.ts
Labels: no-changelog

#6259 Release/489.0.0
  package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  yarn.lock
Labels: no-changelog

#6258 refactor(account-tree-controller): remove `wallet.metadata.entropy.index`
  packages/account-tree-controller/CHANGELOG.md
  packages/account-tree-controller/src/AccountTreeController.test.ts
  packages/account-tree-controller/src/rules/entropy.ts
  packages/account-tree-controller/src/wallet.ts
Labels: team-accounts

#6263 chore: Remove obsolete changelog section from PR template
  .github/pull_request_template.md
Labels: no-changelog

#6265 refactor(account-tree-controller)!: remove `AccountTree{Wallet,Group}` in-memory instances
  packages/account-tree-controller/CHANGELOG.md
  packages/account-tree-controller/src/AccountTreeController.test.ts
  packages/account-tree-controller/src/AccountTreeController.ts
  packages/account-tree-controller/src/group.ts
  packages/account-tree-controller/src/index.ts
  packages/account-tree-controller/src/wallet.ts
Labels: team-accounts

#6269 docs(account-tree-controller): add missing jsdocs
  packages/account-tree-controller/src/AccountTreeController.ts
Labels: team-accounts, no-changelog

#6271 Release 491.0.0
  package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  yarn.lock
Labels: team-assets

#6274 chore: relax yarn constraints for peer dep <1.0.0
  yarn.config.cjs
Labels: no-changelog

#6273 Release/492.0.0
  package.json
  packages/account-tree-controller/CHANGELOG.md
  packages/account-tree-controller/package.json
  packages/accounts-controller/CHANGELOG.md
  packages/accounts-controller/package.json
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  packages/delegation-controller/package.json
  packages/earn-controller/package.json
  packages/keyring-controller/CHANGELOG.md
  packages/keyring-controller/package.json
  packages/multichain-account-service/CHANGELOG.md
  packages/multichain-account-service/package.json
  packages/multichain-api-middleware/package.json
  packages/multichain-network-controller/CHANGELOG.md
  packages/multichain-network-controller/package.json
  packages/multichain-transactions-controller/CHANGELOG.md
  packages/multichain-transactions-controller/package.json
  packages/network-enablement-controller/package.json
  packages/notification-services-controller/package.json
  packages/preferences-controller/package.json
  packages/profile-sync-controller/package.json
  packages/seedless-onboarding-controller/package.json
  packages/signature-controller/package.json
  packages/transaction-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: team-accounts, no-changelog

#6282 feat: add perps transaction type
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/types.ts
Labels: team-confirmations

#6283 Seedless onboarding: Set anonymous='false' for sensitive fields
  packages/seedless-onboarding-controller/CHANGELOG.md
  packages/seedless-onboarding-controller/src/SeedlessOnboardingController.ts
Labels: team-web3auth

#6291 Release 497.0.0
  package.json
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  packages/earn-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: team-confirmations

#6345 Release 506.0.0
  package.json
  packages/account-tree-controller/CHANGELOG.md
  packages/account-tree-controller/package.json
  packages/accounts-controller/CHANGELOG.md
  packages/accounts-controller/package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  packages/chain-agnostic-permission/CHANGELOG.md
  packages/chain-agnostic-permission/package.json
  packages/delegation-controller/CHANGELOG.md
  packages/delegation-controller/package.json
  packages/earn-controller/CHANGELOG.md
  packages/earn-controller/package.json
  packages/eip1193-permission-middleware/CHANGELOG.md
  packages/eip1193-permission-middleware/package.json
  packages/keyring-controller/CHANGELOG.md
  packages/keyring-controller/package.json
  packages/multichain-account-service/CHANGELOG.md
  packages/multichain-account-service/package.json
  packages/multichain-api-middleware/CHANGELOG.md
  packages/multichain-api-middleware/package.json
  packages/multichain-network-controller/CHANGELOG.md
  packages/multichain-network-controller/package.json
  packages/multichain-transactions-controller/CHANGELOG.md
  packages/multichain-transactions-controller/package.json
  packages/network-enablement-controller/CHANGELOG.md
  packages/network-enablement-controller/package.json
  packages/notification-services-controller/CHANGELOG.md
  packages/notification-services-controller/package.json
  packages/preferences-controller/CHANGELOG.md
  packages/preferences-controller/package.json
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/package.json
  packages/seedless-onboarding-controller/CHANGELOG.md
  packages/seedless-onboarding-controller/package.json
  packages/shield-controller/CHANGELOG.md
  packages/shield-controller/package.json
  packages/signature-controller/CHANGELOG.md
  packages/signature-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/CHANGELOG.md
  packages/user-operation-controller/package.json
  yarn.lock
Labels: no-changelog

#6033 feat: add gator permissions controller
  .github/CODEOWNERS
  README.md
  packages/gator-permissions-controller/CHANGELOG.md
  packages/gator-permissions-controller/LICENSE
  packages/gator-permissions-controller/README.md
  packages/gator-permissions-controller/jest.config.js
  packages/gator-permissions-controller/package.json
  packages/gator-permissions-controller/src/GatorPermissionContoller.test.ts
  packages/gator-permissions-controller/src/GatorPermissionsController.ts
  packages/gator-permissions-controller/src/errors.ts
  packages/gator-permissions-controller/src/index.ts
  packages/gator-permissions-controller/src/logger.ts
  packages/gator-permissions-controller/src/test/mock.test.ts
  packages/gator-permissions-controller/src/test/mocks.ts
  packages/gator-permissions-controller/src/types.ts
  packages/gator-permissions-controller/src/utils.test.ts
  packages/gator-permissions-controller/src/utils.ts
  packages/gator-permissions-controller/tsconfig.build.json
  packages/gator-permissions-controller/tsconfig.json
  packages/gator-permissions-controller/typedoc.json
  teams.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: team-delegation

#6346 feat: Add support for gasless 7702 swaps
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/src/bridge-controller.test.ts
  packages/bridge-controller/src/types.ts
  packages/bridge-controller/src/utils/fetch.test.ts
  packages/bridge-controller/src/utils/fetch.ts
  packages/bridge-controller/src/utils/quote.test.ts
  packages/bridge-controller/src/utils/validators.ts
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/src/bridge-status-controller.test.ts
  packages/bridge-status-controller/src/bridge-status-controller.ts
  packages/bridge-status-controller/src/utils/transaction.test.ts
  packages/bridge-status-controller/src/utils/transaction.ts
Labels: team-transactions

#6361 feat: add pay properties to transaction metadata
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/TransactionController.test.ts
  packages/transaction-controller/src/TransactionController.ts
  packages/transaction-controller/src/index.ts
  packages/transaction-controller/src/types.ts
Labels: team-confirmations

#6399 feat(assets): add native and staked balances
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/src/balances.test.ts
  packages/assets-controllers/src/balances.ts
Labels: team-assets

#6168 Improve sample-controllers to be more useful examples
  packages/sample-controllers/CHANGELOG.md
  packages/sample-controllers/package.json
  packages/sample-controllers/src/index.test.ts
  packages/sample-controllers/src/index.ts
  packages/sample-controllers/src/network-controller-types.ts
  packages/sample-controllers/src/sample-gas-prices-controller-method-action-types.ts
  packages/sample-controllers/src/sample-gas-prices-controller.test.ts
  packages/sample-controllers/src/sample-gas-prices-controller.ts
  packages/sample-controllers/src/sample-gas-prices-service/index.test.ts
  packages/sample-controllers/src/sample-gas-prices-service/index.ts
  packages/sample-controllers/src/sample-gas-prices-service/sample-abstract-gas-prices-service.ts
  packages/sample-controllers/src/sample-gas-prices-service/sample-gas-prices-service-method-action-types.ts
  packages/sample-controllers/src/sample-gas-prices-service/sample-gas-prices-service.test.ts
  packages/sample-controllers/src/sample-gas-prices-service/sample-gas-prices-service.ts
  packages/sample-controllers/src/sample-petnames-controller-method-action-types.ts
  packages/sample-controllers/src/sample-petnames-controller.test.ts
  packages/sample-controllers/src/sample-petnames-controller.ts
  yarn.lock
Labels: team-wallet-framework

#6415 Release/523.0.0
  package.json
  packages/account-tree-controller/CHANGELOG.md
  packages/account-tree-controller/package.json
  packages/assets-controllers/package.json
  yarn.lock
Labels: no-changelog

#6233 Feat/shield subscription controller
  .github/CODEOWNERS
  README.md
  packages/subscription-controller/ARCHITECTURE.md
  packages/subscription-controller/CHANGELOG.md
  packages/subscription-controller/LICENSE
  packages/subscription-controller/README.md
  packages/subscription-controller/jest.config.js
  packages/subscription-controller/package.json
  packages/subscription-controller/src/SubscriptionController.test.ts
  packages/subscription-controller/src/SubscriptionController.ts
  packages/subscription-controller/src/SubscriptionService.test.ts
  packages/subscription-controller/src/SubscriptionService.ts
  packages/subscription-controller/src/constants.test.ts
  packages/subscription-controller/src/constants.ts
  packages/subscription-controller/src/errors.ts
  packages/subscription-controller/src/index.ts
  packages/subscription-controller/src/types.ts
  packages/subscription-controller/tsconfig.build.json
  packages/subscription-controller/tsconfig.json
  packages/subscription-controller/typedoc.json
  teams.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: team-web3auth, area-shield
