Repository MetaMask/core, pull requests merged in 2025-05, with the labels that each got.

#5743 Release 383.0.0
  package.json
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  packages/earn-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: team-confirmations, no-changelog

#5297 Fix unmocked block tracker warning in GasFeeController tests
  packages/gas-fee-controller/src/GasFeeController.test.ts
Labels: team-wallet-framework

#5746 test: fix mock encryptor test shared global state
  packages/keyring-controller/src/KeyringController.test.ts
  packages/keyring-controller/tests/mocks/mockEncryptor.ts
Labels: no-changelog

#5749 Release 384.0.0
  package.json
  packages/accounts-controller/package.json
  packages/assets-controllers/package.json
  packages/delegation-controller/package.json
  packages/keyring-controller/CHANGELOG.md
  packages/keyring-controller/package.json
  packages/multichain-network-controller/package.json
  packages/multichain-transactions-controller/package.json
  packages/notification-services-controller/package.json
  packages/preferences-controller/package.json
  packages/profile-sync-controller/package.json
  packages/signature-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: no-changelog

#5706 feat: generate EIP-7702 gas fee tokens
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/TransactionController.test.ts
  packages/transaction-controller/src/TransactionController.ts
  packages/transaction-controller/src/api/simulation-api.ts
  packages/transaction-controller/src/utils/batch.test.ts
  packages/transaction-controller/src/utils/batch.ts
  packages/transaction-controller/src/utils/eip7702.ts
  packages/transaction-controller/src/utils/simulation.test.ts
  packages/transaction-controller/src/utils/simulation.ts
Labels: team-confirmations

#5760 Release/387.0.0
  package.json
  packages/chain-agnostic-permission/CHANGELOG.md
  packages/chain-agnostic-permission/package.json
  packages/eip1193-permission-middleware/package.json
  packages/multichain-api-middleware/package.json
  yarn.lock
Labels: no-changelog

#5763 Release 388.0.0
  package.json
  packages/accounts-controller/CHANGELOG.md
  packages/accounts-controller/package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  packages/delegation-controller/CHANGELOG.md
  packages/delegation-controller/package.json
  packages/earn-controller/CHANGELOG.md
  packages/earn-controller/package.json
  packages/keyring-controller/CHANGELOG.md
  packages/keyring-controller/package.json
  packages/multichain-api-middleware/package.json
  packages/multichain-network-controller/CHANGELOG.md
  packages/multichain-network-controller/package.json
  packages/multichain-transactions-controller/CHANGELOG.md
  packages/multichain-transactions-controller/package.json
  packages/notification-services-controller/CHANGELOG.md
  packages/notification-services-controller/package.json
  packages/preferences-controller/package.json
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/package.json
  packages/signature-controller/CHANGELOG.md
  packages/signature-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/CHANGELOG.md
  packages/user-operation-controller/package.json
  yarn.lock
Labels: no-changelog

#5765 Release/389.0.0
  package.json
  packages/accounts-controller/package.json
  packages/address-book-controller/CHANGELOG.md
  packages/address-book-controller/package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  packages/chain-agnostic-permission/CHANGELOG.md
  packages/chain-agnostic-permission/package.json
  packages/controller-utils/CHANGELOG.md
  packages/controller-utils/package.json
  packages/earn-controller/CHANGELOG.md
  packages/earn-controller/package.json
  packages/eip1193-permission-middleware/CHANGELOG.md
  packages/eip1193-permission-middleware/package.json
  packages/ens-controller/CHANGELOG.md
  packages/ens-controller/package.json
  packages/gas-fee-controller/CHANGELOG.md
  packages/gas-fee-controller/package.json
  packages/logging-controller/CHANGELOG.md
  packages/logging-controller/package.json
  packages/message-manager/CHANGELOG.md
  packages/message-manager/package.json
  packages/multichain-api-middleware/CHANGELOG.md
  packages/multichain-api-middleware/package.json
  packages/multichain-network-controller/CHANGELOG.md
  packages/multichain-network-controller/package.json
  packages/multichain/CHANGELOG.md
  packages/multichain/package.json
  packages/name-controller/CHANGELOG.md
  packages/name-controller/package.json
  packages/network-controller/CHANGELOG.md
  packages/network-controller/package.json
  packages/notification-services-controller/CHANGELOG.md
  packages/notification-services-controller/package.json
  packages/permission-controller/CHANGELOG.md
  packages/permission-controller/package.json
  packages/phishing-controller/CHANGELOG.md
  packages/phishing-controller/package.json
  packages/polling-controller/CHANGELOG.md
  packages/polling-controller/package.json
  packages/preferences-controller/CHANGELOG.md
  packages/preferences-controller/package.json
  packages/profile-sync-controller/package.json
  packages/queued-request-controller/CHANGELOG.md
  packages/queued-request-controller/package.json
  packages/remote-feature-flag-controller/CHANGELOG.md
  packages/remote-feature-flag-controller/package.json
  packages/sample-controllers/package.json
  packages/selected-network-controller/package.json
  packages/signature-controller/CHANGELOG.md
  packages/signature-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/CHANGELOG.md
  packages/user-operation-controller/package.json
  yarn.lock
Labels: team-network-enablement

#5771 fix: include origin in 7702 transaction
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/utils/batch.test.ts
  packages/transaction-controller/src/utils/batch.ts
Labels: team-confirmations

#5686 feat: rename profile sync to backup and sync
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/src/controllers/authentication/AuthenticationController.ts
  packages/profile-sync-controller/src/controllers/user-storage/UserStorageController.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/UserStorageController.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/controller-integration.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/sync-utils.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/sync-utils.ts
Labels: team-identity, no-changelog

#5777 Release/390.0.0
  package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  yarn.lock
Labels: no-changelog

#5693 chore: pin changelog-check workflow to safe commit to prevent breakages
  .github/workflows/changelog-check.yml
Labels: team-wallet-framework

#5780 Release/391.0.0
  package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  yarn.lock
Labels: no-changelog

#5785 Release/392.0.0
  package.json
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  packages/earn-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: no-changelog

#5725 fix: remove metadata for unsupported keyrings
  eslint-warning-thresholds.json
  packages/accounts-controller/src/AccountsController.test.ts
  packages/accounts-controller/src/AccountsController.ts
  packages/keyring-controller/CHANGELOG.md
  packages/keyring-controller/jest.config.js
  packages/keyring-controller/src/KeyringController.test.ts
  packages/keyring-controller/src/KeyringController.ts
  packages/keyring-controller/src/constants.ts
  packages/notification-services-controller/src/NotificationServicesController/NotificationServicesController.test.ts
  packages/preferences-controller/src/PreferencesController.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/UserStorageController.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/__fixtures__/mockMessenger.ts
Labels: no-changelog

#5788 fix: misplaced changelog entry for `@metamask/profile-sync-controller`
  packages/profile-sync-controller/CHANGELOG.md
Labels: team-identity

#5789 Release 393.0.0
  package.json
  packages/notification-services-controller/CHANGELOG.md
  packages/notification-services-controller/package.json
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/package.json
  yarn.lock
Labels: team-identity

#5790 fix: use gas limit from simulation response
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/api/simulation-api.ts
  packages/transaction-controller/src/utils/gas.test.ts
  packages/transaction-controller/src/utils/gas.ts
Labels: team-confirmations

#5791 Release 394.0.0
  package.json
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  packages/earn-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: team-confirmations, no-changelog

#5797 Release/396.0.0
  package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  yarn.lock
Labels: no-changelog

#5792 feat: add feature flag for incoming transactions polling interval
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/TransactionController.ts
  packages/transaction-controller/src/helpers/IncomingTransactionHelper.test.ts
  packages/transaction-controller/src/helpers/IncomingTransactionHelper.ts
  packages/transaction-controller/src/utils/feature-flags.test.ts
  packages/transaction-controller/src/utils/feature-flags.ts
Labels: team-confirmations

#5802 Release 397.0.0
  package.json
  packages/accounts-controller/CHANGELOG.md
  packages/accounts-controller/package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  packages/delegation-controller/CHANGELOG.md
  packages/delegation-controller/package.json
  packages/earn-controller/CHANGELOG.md
  packages/earn-controller/package.json
  packages/keyring-controller/CHANGELOG.md
  packages/keyring-controller/package.json
  packages/multichain-api-middleware/package.json
  packages/multichain-network-controller/CHANGELOG.md
  packages/multichain-network-controller/package.json
  packages/multichain-transactions-controller/CHANGELOG.md
  packages/multichain-transactions-controller/package.json
  packages/notification-services-controller/CHANGELOG.md
  packages/notification-services-controller/package.json
  packages/preferences-controller/CHANGELOG.md
  packages/preferences-controller/package.json
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/package.json
  packages/signature-controller/CHANGELOG.md
  packages/signature-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/CHANGELOG.md
  packages/user-operation-controller/package.json
  yarn.lock
Labels: no-changelog

#5812 Release 399.0.0
  package.json
  packages/accounts-controller/package.json
  packages/address-book-controller/CHANGELOG.md
  packages/address-book-controller/package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  packages/chain-agnostic-permission/CHANGELOG.md
  packages/chain-agnostic-permission/package.json
  packages/controller-utils/CHANGELOG.md
  packages/controller-utils/package.json
  packages/earn-controller/CHANGELOG.md
  packages/earn-controller/package.json
  packages/eip1193-permission-middleware/CHANGELOG.md
  packages/eip1193-permission-middleware/package.json
  packages/ens-controller/CHANGELOG.md
  packages/ens-controller/package.json
  packages/gas-fee-controller/CHANGELOG.md
  packages/gas-fee-controller/package.json
  packages/logging-controller/CHANGELOG.md
  packages/logging-controller/package.json
  packages/message-manager/CHANGELOG.md
  packages/message-manager/package.json
  packages/multichain-api-middleware/CHANGELOG.md
  packages/multichain-api-middleware/package.json
  packages/multichain-network-controller/CHANGELOG.md
  packages/multichain-network-controller/package.json
  packages/multichain/CHANGELOG.md
  packages/multichain/package.json
  packages/name-controller/CHANGELOG.md
  packages/name-controller/package.json
  packages/network-controller/CHANGELOG.md
  packages/network-controller/package.json
  packages/notification-services-controller/CHANGELOG.md
  packages/notification-services-controller/package.json
  packages/permission-controller/CHANGELOG.md
  packages/permission-controller/package.json
  packages/phishing-controller/CHANGELOG.md
  packages/phishing-controller/package.json
  packages/polling-controller/CHANGELOG.md
  packages/polling-controller/package.json
  packages/preferences-controller/CHANGELOG.md
  packages/preferences-controller/package.json
  packages/profile-sync-controller/package.json
  packages/queued-request-controller/CHANGELOG.md
  packages/queued-request-controller/package.json
  packages/remote-feature-flag-controller/CHANGELOG.md
  packages/remote-feature-flag-controller/package.json
  packages/sample-controllers/package.json
  packages/selected-network-controller/package.json
  packages/signature-controller/CHANGELOG.md
  packages/signature-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/CHANGELOG.md
  packages/user-operation-controller/package.json
  yarn.lock
Labels: no-changelog

#5814 fix: cancel upgrade error code
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/TransactionController.test.ts
  packages/transaction-controller/src/TransactionController.ts
  packages/transaction-controller/src/utils/validation.ts
Labels: team-confirmations

#5815 Release 400.0.0
  package.json
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  packages/earn-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: team-confirmations, no-changelog

#4602 Use selected network controller for Snaps
  packages/selected-network-controller/src/SelectedNetworkController.ts
  packages/selected-network-controller/tests/SelectedNetworkController.test.ts
Labels: no-changelog

#5820 Release 402.0.0
  package.json
  packages/multichain-api-middleware/package.json
  packages/multichain-transactions-controller/CHANGELOG.md
  packages/multichain-transactions-controller/package.json
  packages/queued-request-controller/package.json
  packages/selected-network-controller/CHANGELOG.md
  packages/selected-network-controller/package.json
  yarn.lock
Labels: no-changelog

#5762 feat: add sequential batch support
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/TransactionController.ts
  packages/transaction-controller/src/helpers/PendingTransactionTracker.test.ts
  packages/transaction-controller/src/helpers/PendingTransactionTracker.ts
  packages/transaction-controller/src/hooks/SequentialPublishBatchHook.test.ts
  packages/transaction-controller/src/hooks/SequentialPublishBatchHook.ts
  packages/transaction-controller/src/utils/batch.test.ts
  packages/transaction-controller/src/utils/batch.ts
Labels: team-confirmations

#5841 feat(accounts-controller): Add `entropySource` to new `InternalAccount`
  packages/accounts-controller/CHANGELOG.md
  packages/accounts-controller/src/AccountsController.test.ts
  packages/accounts-controller/src/AccountsController.ts
Labels: team-accounts, team-identity

#5730 remote-feature-flag-controller: Fix flaky test
  packages/remote-feature-flag-controller/src/utils/user-segmentation-utils.test.ts
Labels: team-wallet-framework, no-changelog

#5850 Release/407.0.0
  package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  yarn.lock
Labels: no-changelog

#5843 fix(rpc-service): improve error handling for HTTP status codes
  packages/network-controller/CHANGELOG.md
  packages/network-controller/src/rpc-service/rpc-service-chain.test.ts
  packages/network-controller/src/rpc-service/rpc-service-chain.ts
  packages/network-controller/src/rpc-service/rpc-service.test.ts
  packages/network-controller/src/rpc-service/rpc-service.ts
  packages/network-controller/tests/provider-api-tests/block-hash-in-response.ts
  packages/network-controller/tests/provider-api-tests/block-param.ts
  packages/network-controller/tests/provider-api-tests/no-block-param.ts
Labels: team-wallet-framework

#5863 Release/409.0.0
  package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  yarn.lock
Labels: no-changelog

#5872 Release/413.0.0
  package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  yarn.lock
Labels: no-changelog

#5876 Includes `origin` for `wallet_sendCalls` security alert requests
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/types.ts
  packages/transaction-controller/src/utils/batch.test.ts
  packages/transaction-controller/src/utils/batch.ts
Labels: team-confirmations

#5860 Fix block tracker not resolving for failed requests
  package.json
  packages/network-controller/CHANGELOG.md
  packages/network-controller/package.json
  packages/network-controller/tests/provider-api-tests/block-hash-in-response.ts
  packages/network-controller/tests/provider-api-tests/block-param.ts
  packages/network-controller/tests/provider-api-tests/helpers.ts
  packages/network-controller/tests/provider-api-tests/no-block-param.ts
  packages/transaction-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: team-wallet-framework, no-changelog

#5874 feat: Seedless Onboarding Controller
  .github/CODEOWNERS
  README.md
  eslint-warning-thresholds.json
  packages/seedless-onboarding-controller/CHANGELOG.md
  packages/seedless-onboarding-controller/LICENSE
  packages/seedless-onboarding-controller/README.md
  packages/seedless-onboarding-controller/jest.config.js
  packages/seedless-onboarding-controller/jest.environment.js
  packages/seedless-onboarding-controller/package.json
  packages/seedless-onboarding-controller/src/SeedPhraseMetadata.ts
  packages/seedless-onboarding-controller/src/SeedlessOnboardingController.test.ts
  packages/seedless-onboarding-controller/src/SeedlessOnboardingController.ts
  packages/seedless-onboarding-controller/src/constants.ts
  packages/seedless-onboarding-controller/src/errors.ts
  packages/seedless-onboarding-controller/src/index.ts
  packages/seedless-onboarding-controller/src/logger.ts
  packages/seedless-onboarding-controller/src/types.ts
  packages/seedless-onboarding-controller/tests/__fixtures__/topfClient.ts
  packages/seedless-onboarding-controller/tests/mocks/toprf.ts
  packages/seedless-onboarding-controller/tests/mocks/toprfEncryptor.ts
  packages/seedless-onboarding-controller/tests/mocks/vaultEncryptor.ts
  packages/seedless-onboarding-controller/tsconfig.build.json
  packages/seedless-onboarding-controller/tsconfig.json
  packages/seedless-onboarding-controller/typedoc.json
  teams.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: team-web3auth, area-onboarding

#5875 feat: Support multiple SRPs sync in SeedlessOnboardingController
  packages/seedless-onboarding-controller/CHANGELOG.md
  packages/seedless-onboarding-controller/package.json
  packages/seedless-onboarding-controller/src/SecretMetadata.ts
  packages/seedless-onboarding-controller/src/SeedPhraseMetadata.ts
  packages/seedless-onboarding-controller/src/SeedlessOnboardingController.test.ts
  packages/seedless-onboarding-controller/src/SeedlessOnboardingController.ts
  packages/seedless-onboarding-controller/src/constants.ts
  packages/seedless-onboarding-controller/src/types.ts
  packages/seedless-onboarding-controller/tests/__fixtures__/mockMessenger.ts
  packages/seedless-onboarding-controller/tests/mocks/toprf.ts
  packages/seedless-onboarding-controller/tests/mocks/vaultEncryptor.ts
  packages/seedless-onboarding-controller/tsconfig.build.json
  packages/seedless-onboarding-controller/tsconfig.json
  yarn.lock
Labels: team-web3auth, area-onboarding

#5881 Revert "fix(rpc-service): improve error handling for HTTP status codes (#5843)
  packages/network-controller/CHANGELOG.md
  packages/network-controller/src/rpc-service/rpc-service-chain.test.ts
  packages/network-controller/src/rpc-service/rpc-service-chain.ts
  packages/network-controller/src/rpc-service/rpc-service.test.ts
  packages/network-controller/src/rpc-service/rpc-service.ts
  packages/network-controller/tests/provider-api-tests/block-hash-in-response.ts
  packages/network-controller/tests/provider-api-tests/block-param.ts
  packages/network-controller/tests/provider-api-tests/no-block-param.ts
Labels: no-changelog

#5882 Release 415.0.0
  package.json
  packages/accounts-controller/package.json
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  packages/chain-agnostic-permission/CHANGELOG.md
  packages/chain-agnostic-permission/package.json
  packages/earn-controller/package.json
  packages/ens-controller/package.json
  packages/error-reporting-service/CHANGELOG.md
  packages/error-reporting-service/package.json
  packages/gas-fee-controller/package.json
  packages/multichain-api-middleware/CHANGELOG.md
  packages/multichain-api-middleware/package.json
  packages/multichain-network-controller/package.json
  packages/multichain/package.json
  packages/network-controller/CHANGELOG.md
  packages/network-controller/package.json
  packages/polling-controller/package.json
  packages/profile-sync-controller/package.json
  packages/queued-request-controller/package.json
  packages/sample-controllers/package.json
  packages/selected-network-controller/package.json
  packages/signature-controller/package.json
  packages/transaction-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: no-changelog

#5885 Release 416.0.0
  package.json
  packages/accounts-controller/CHANGELOG.md
  packages/accounts-controller/package.json
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  packages/delegation-controller/package.json
  packages/earn-controller/package.json
  packages/multichain-network-controller/package.json
  packages/multichain-transactions-controller/package.json
  packages/profile-sync-controller/package.json
  packages/signature-controller/package.json
  packages/transaction-controller/package.json
  yarn.lock
Labels: no-changelog

#5871 chore: update accounts/snaps deps
  eslint-warning-thresholds.json
  packages/accounts-controller/CHANGELOG.md
  packages/accounts-controller/package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  packages/chain-agnostic-permission/package.json
  packages/eip1193-permission-middleware/src/wallet-getPermissions.test.ts
  packages/eip1193-permission-middleware/src/wallet-getPermissions.ts
  packages/eip1193-permission-middleware/src/wallet-requestPermissions.test.ts
  packages/eip1193-permission-middleware/src/wallet-requestPermissions.ts
  packages/eip1193-permission-middleware/src/wallet-revokePermissions.test.ts
  packages/eip1193-permission-middleware/src/wallet-revokePermissions.ts
  packages/json-rpc-engine/src/JsonRpcEngine.ts
  packages/json-rpc-engine/src/createScaffoldMiddleware.ts
  packages/keyring-controller/CHANGELOG.md
  packages/keyring-controller/package.json
  packages/multichain-api-middleware/src/handlers/wallet-invokeMethod.ts
  packages/multichain-api-middleware/src/handlers/wallet-revokeSession.ts
  packages/multichain-api-middleware/src/middlewares/MultichainMiddlewareManager.ts
  packages/multichain-network-controller/CHANGELOG.md
  packages/multichain-network-controller/package.json
  packages/multichain-network-controller/src/MultichainNetworkController/MultichainNetworkController.test.ts
  packages/multichain-transactions-controller/CHANGELOG.md
  packages/multichain-transactions-controller/package.json
  packages/multichain/src/handlers/wallet-getPermissions.test.ts
  packages/multichain/src/handlers/wallet-getPermissions.ts
  packages/multichain/src/handlers/wallet-invokeMethod.ts
  packages/multichain/src/handlers/wallet-requestPermissions.test.ts
  packages/multichain/src/handlers/wallet-requestPermissions.ts
  packages/multichain/src/handlers/wallet-revokePermissions.test.ts
  packages/multichain/src/handlers/wallet-revokePermissions.ts
  packages/multichain/src/handlers/wallet-revokeSession.ts
  packages/multichain/src/middlewares/MultichainMiddlewareManager.ts
  packages/permission-controller/src/permission-middleware.ts
  packages/permission-log-controller/src/PermissionLogController.ts
  packages/permission-log-controller/tests/PermissionLogController.test.ts
  packages/profile-sync-controller/package.json
  packages/queued-request-controller/src/QueuedRequestMiddleware.test.ts
  yarn.lock
Labels: no-changelog

#5888 Release/417.0.0
  package.json
  packages/accounts-controller/CHANGELOG.md
  packages/accounts-controller/package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  packages/delegation-controller/CHANGELOG.md
  packages/delegation-controller/package.json
  packages/earn-controller/CHANGELOG.md
  packages/earn-controller/package.json
  packages/keyring-controller/CHANGELOG.md
  packages/keyring-controller/package.json
  packages/multichain-api-middleware/package.json
  packages/multichain-network-controller/CHANGELOG.md
  packages/multichain-network-controller/package.json
  packages/multichain-transactions-controller/CHANGELOG.md
  packages/multichain-transactions-controller/package.json
  packages/notification-services-controller/CHANGELOG.md
  packages/notification-services-controller/package.json
  packages/preferences-controller/package.json
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/package.json
  packages/seedless-onboarding-controller/package.json
  packages/signature-controller/CHANGELOG.md
  packages/signature-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/CHANGELOG.md
  packages/user-operation-controller/package.json
  yarn.lock
Labels: no-changelog
