Repository MetaMask/core, pull requests merged in 2025-10, with the labels that each got.

#6763 Release/596.0.0
  package.json
  packages/account-tree-controller/CHANGELOG.md
  packages/account-tree-controller/package.json
  packages/assets-controllers/package.json
  packages/earn-controller/package.json
  yarn.lock
Labels: no-changelog

#6771 Release/597.0.0
  package.json
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  packages/earn-controller/package.json
  packages/eip-5792-middleware/CHANGELOG.md
  packages/eip-5792-middleware/package.json
  packages/network-enablement-controller/package.json
  packages/phishing-controller/package.json
  packages/shield-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: team-confirmations

#6785 fix: add missing subscription controller export
  packages/subscription-controller/src/index.ts
Labels: no-changelog, team-web3auth, area-shield

#6797 Expose message and reason code
  packages/shield-controller/CHANGELOG.md
  packages/shield-controller/src/backend.test.ts
  packages/shield-controller/src/backend.ts
  packages/shield-controller/src/types.ts
  packages/shield-controller/tests/utils.ts
Labels: team-web3auth, area-shield
