Repository MetaMask/core, pull requests merged in 2025-06, with the labels that each got.

#5894 Release/418.0.0
  package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  yarn.lock
Labels: no-changelog

#5753 feat(backup & sync): use entropySourceId to sync accounts for Multi-SRP
  packages/notification-services-controller/src/NotificationServicesController/NotificationServicesController.test.ts
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/package.json
  packages/profile-sync-controller/src/controllers/authentication/AuthenticationController.test.ts
  packages/profile-sync-controller/src/controllers/authentication/AuthenticationController.ts
  packages/profile-sync-controller/src/controllers/authentication/auth-snap-requests.ts
  packages/profile-sync-controller/src/controllers/authentication/mocks/mockResponses.ts
  packages/profile-sync-controller/src/controllers/user-storage/UserStorageController.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/UserStorageController.ts
  packages/profile-sync-controller/src/controllers/user-storage/__fixtures__/mockMessenger.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/__fixtures__/mockAccounts.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/__fixtures__/test-utils.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/controller-integration.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/controller-integration.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/setup-subscriptions.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/setup-subscriptions.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/sync-utils.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/sync-utils.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/utils.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/utils.ts
  packages/profile-sync-controller/src/sdk/authentication-jwt-bearer/flow-siwe.ts
  packages/profile-sync-controller/src/sdk/authentication-jwt-bearer/flow-srp.ts
  packages/profile-sync-controller/src/sdk/authentication-jwt-bearer/services.ts
  packages/profile-sync-controller/src/sdk/authentication-jwt-bearer/types.ts
  packages/profile-sync-controller/src/sdk/authentication.test.ts
  packages/profile-sync-controller/src/sdk/authentication.ts
  packages/profile-sync-controller/src/sdk/user-storage.ts
  packages/profile-sync-controller/src/sdk/utils/messaging-signing-snap-requests.ts
  packages/profile-sync-controller/src/shared/storage-schema.ts
Labels: team-identity

#5852 Adds estimate gas limit for transaction batch using simulation API
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/TransactionController.ts
  packages/transaction-controller/src/types.ts
  packages/transaction-controller/src/utils/batch.test.ts
  packages/transaction-controller/src/utils/batch.ts
  packages/transaction-controller/src/utils/gas.test.ts
  packages/transaction-controller/src/utils/gas.ts
Labels: team-confirmations

#5905 Revert "Release 422.0.0 (#5904)"
  package.json
  packages/address-book-controller/CHANGELOG.md
  packages/address-book-controller/package.json
  packages/notification-services-controller/package.json
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/package.json
  yarn.lock
Labels: team-identity, no-changelog

#5810 feat: add `@metamask/foundryup` package
  .github/CODEOWNERS
  README.md
  eslint.config.mjs
  packages/foundryup/.gitignore
  packages/foundryup/.yarnrc.yml
  packages/foundryup/CHANGELOG.md
  packages/foundryup/LICENSE
  packages/foundryup/README.md
  packages/foundryup/jest.config.js
  packages/foundryup/package.json
  packages/foundryup/src/cli.ts
  packages/foundryup/src/download.ts
  packages/foundryup/src/extract.ts
  packages/foundryup/src/foundryup.test.ts
  packages/foundryup/src/index.ts
  packages/foundryup/src/options.ts
  packages/foundryup/src/types.ts
  packages/foundryup/src/utils.ts
  packages/foundryup/tsconfig.build.json
  packages/foundryup/tsconfig.json
  packages/foundryup/typedoc.json
  packages/foundryup/types/node:fs.d.ts
  packages/foundryup/types/unzipper.d.ts
  scripts/run-eslint.ts
  teams.json
  tsconfig.build.json
  tsconfig.json
  yarn.config.cjs
  yarn.lock
Labels: no-changelog

#5912 Release/424.0.0
  package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  yarn.lock
Labels: no-changelog

#5915 Release/425.0.0
  package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  yarn.lock
Labels: no-changelog

#5916 chore: fix transaction controller changelog
  packages/transaction-controller/CHANGELOG.md
Labels: team-confirmations

#5920 Release 426.0.0
  package.json
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  packages/earn-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: team-confirmations

#5922 Release/427.0.0
  package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  yarn.lock
Labels: no-changelog

#5930 Release 429.0.0
  package.json
  packages/account-tree-controller/package.json
  packages/accounts-controller/package.json
  packages/assets-controllers/package.json
  packages/delegation-controller/package.json
  packages/keyring-controller/CHANGELOG.md
  packages/keyring-controller/package.json
  packages/multichain-network-controller/package.json
  packages/multichain-transactions-controller/package.json
  packages/notification-services-controller/package.json
  packages/preferences-controller/package.json
  packages/profile-sync-controller/package.json
  packages/seedless-onboarding-controller/package.json
  packages/signature-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: no-changelog

#5934 fix: Avoid coercing publishBatchHook to a boolean
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/utils/batch.test.ts
  packages/transaction-controller/src/utils/batch.ts
Labels: team-confirmations

#5935 Release/430.0.0
  package.json
  packages/accounts-controller/package.json
  packages/address-book-controller/CHANGELOG.md
  packages/address-book-controller/package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  packages/chain-agnostic-permission/CHANGELOG.md
  packages/chain-agnostic-permission/package.json
  packages/controller-utils/CHANGELOG.md
  packages/controller-utils/package.json
  packages/earn-controller/CHANGELOG.md
  packages/earn-controller/package.json
  packages/eip1193-permission-middleware/CHANGELOG.md
  packages/eip1193-permission-middleware/package.json
  packages/ens-controller/CHANGELOG.md
  packages/ens-controller/package.json
  packages/gas-fee-controller/CHANGELOG.md
  packages/gas-fee-controller/package.json
  packages/logging-controller/CHANGELOG.md
  packages/logging-controller/package.json
  packages/message-manager/CHANGELOG.md
  packages/message-manager/package.json
  packages/multichain-api-middleware/CHANGELOG.md
  packages/multichain-api-middleware/package.json
  packages/multichain-network-controller/CHANGELOG.md
  packages/multichain-network-controller/package.json
  packages/multichain/CHANGELOG.md
  packages/multichain/package.json
  packages/name-controller/CHANGELOG.md
  packages/name-controller/package.json
  packages/network-controller/CHANGELOG.md
  packages/network-controller/package.json
  packages/notification-services-controller/CHANGELOG.md
  packages/notification-services-controller/package.json
  packages/permission-controller/CHANGELOG.md
  packages/permission-controller/package.json
  packages/phishing-controller/CHANGELOG.md
  packages/phishing-controller/package.json
  packages/polling-controller/CHANGELOG.md
  packages/polling-controller/package.json
  packages/preferences-controller/CHANGELOG.md
  packages/preferences-controller/package.json
  packages/profile-sync-controller/package.json
  packages/queued-request-controller/CHANGELOG.md
  packages/queued-request-controller/package.json
  packages/remote-feature-flag-controller/CHANGELOG.md
  packages/remote-feature-flag-controller/package.json
  packages/sample-controllers/package.json
  packages/selected-network-controller/package.json
  packages/signature-controller/CHANGELOG.md
  packages/signature-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/CHANGELOG.md
  packages/user-operation-controller/package.json
  yarn.lock
Labels: no-changelog

#5949 Release 432.0.0
  package.json
  packages/notification-services-controller/package.json
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/package.json
  yarn.lock
Labels: team-identity, no-changelog

#5947 fix(account-tree-controller): fix `AccountWallet` type
  packages/account-tree-controller/src/AccountTreeController.ts
Labels: no-changelog

#5694 feat: add `SEI` network support in @metamask/transaction-controller
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/api/accounts-api.ts
  packages/transaction-controller/src/constants.ts
  packages/transaction-controller/src/helpers/AccountsApiRemoteTransactionSource.ts
  packages/transaction-controller/src/utils/swaps.ts
Labels: team-network-enablement

#5886 Add `gasFeeEstimates` for batch transactions
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/TransactionController.ts
  packages/transaction-controller/src/types.ts
  packages/transaction-controller/src/utils/batch.test.ts
  packages/transaction-controller/src/utils/batch.ts
Labels: team-confirmations

#5966 Revert "release: 435.0.0 (#5965)"
  package.json
  packages/assets-controllers/package.json
  packages/phishing-controller/CHANGELOG.md
  packages/phishing-controller/package.json
  yarn.lock
Labels: no-changelog

#5967 Release/435.0.0
  package.json
  packages/assets-controllers/package.json
  packages/phishing-controller/CHANGELOG.md
  packages/phishing-controller/package.json
  yarn.lock
Labels: no-changelog

#5503 feat: after simulate and before sign hooks
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/TransactionController.test.ts
  packages/transaction-controller/src/TransactionController.ts
  packages/transaction-controller/src/api/simulation-api.test.ts
  packages/transaction-controller/src/api/simulation-api.ts
  packages/transaction-controller/src/constants.ts
  packages/transaction-controller/src/index.ts
  packages/transaction-controller/src/types.ts
  packages/transaction-controller/src/utils/gas.test.ts
  packages/transaction-controller/src/utils/gas.ts
Labels: team-confirmations

#5969 Release/436.0.0
  package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  yarn.lock
Labels: no-changelog

#5976 Removed `recoveryRatelimitCache` from the Seedless controller state
  packages/seedless-onboarding-controller/CHANGELOG.md
  packages/seedless-onboarding-controller/src/SeedlessOnboardingController.test.ts
  packages/seedless-onboarding-controller/src/SeedlessOnboardingController.ts
  packages/seedless-onboarding-controller/src/errors.ts
  packages/seedless-onboarding-controller/src/types.ts
Labels: team-web3auth

#5978 Release/438.0.0
  package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  yarn.lock
Labels: no-changelog

#5776 feat(identity): sync address book contacts
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/src/controllers/user-storage/UserStorageController.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/UserStorageController.ts
  packages/profile-sync-controller/src/controllers/user-storage/__fixtures__/mockMessenger.ts
  packages/profile-sync-controller/src/controllers/user-storage/account-syncing/controller-integration.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/constants.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/__fixtures__/mockContacts.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/__fixtures__/test-utils.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/constants.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/controller-integration.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/controller-integration.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/setup-subscriptions.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/setup-subscriptions.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/sync-utils.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/sync-utils.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/types.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/utils.test.ts
  packages/profile-sync-controller/src/controllers/user-storage/contact-syncing/utils.ts
  packages/profile-sync-controller/src/shared/storage-schema.ts
  packages/profile-sync-controller/tsconfig.build.json
  packages/profile-sync-controller/tsconfig.json
Labels: no-changelog

#5996 Release 441.0.0
  package.json
  packages/notification-services-controller/CHANGELOG.md
  packages/notification-services-controller/package.json
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/package.json
  yarn.lock
Labels: team-identity, no-changelog

#5970 network-controller: Represent dep on ErrorReportingService more accurately
  packages/network-controller/CHANGELOG.md
  packages/network-controller/package.json
  yarn.lock
Labels: team-wallet-framework

#5999 Release/443.0.0
  package.json
  packages/account-tree-controller/CHANGELOG.md
  packages/account-tree-controller/package.json
  packages/accounts-controller/CHANGELOG.md
  packages/accounts-controller/package.json
  packages/assets-controllers/CHANGELOG.md
  packages/assets-controllers/package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  packages/chain-agnostic-permission/CHANGELOG.md
  packages/chain-agnostic-permission/package.json
  packages/delegation-controller/CHANGELOG.md
  packages/delegation-controller/package.json
  packages/earn-controller/CHANGELOG.md
  packages/earn-controller/package.json
  packages/ens-controller/CHANGELOG.md
  packages/ens-controller/package.json
  packages/error-reporting-service/CHANGELOG.md
  packages/error-reporting-service/package.json
  packages/gas-fee-controller/CHANGELOG.md
  packages/gas-fee-controller/package.json
  packages/multichain-api-middleware/CHANGELOG.md
  packages/multichain-api-middleware/package.json
  packages/multichain-network-controller/CHANGELOG.md
  packages/multichain-network-controller/package.json
  packages/multichain-transactions-controller/CHANGELOG.md
  packages/multichain-transactions-controller/package.json
  packages/network-controller/CHANGELOG.md
  packages/network-controller/package.json
  packages/notification-services-controller/CHANGELOG.md
  packages/notification-services-controller/package.json
  packages/polling-controller/CHANGELOG.md
  packages/polling-controller/package.json
  packages/profile-sync-controller/CHANGELOG.md
  packages/profile-sync-controller/package.json
  packages/queued-request-controller/CHANGELOG.md
  packages/queued-request-controller/package.json
  packages/sample-controllers/CHANGELOG.md
  packages/sample-controllers/package.json
  packages/selected-network-controller/CHANGELOG.md
  packages/selected-network-controller/package.json
  packages/signature-controller/CHANGELOG.md
  packages/signature-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/CHANGELOG.md
  packages/user-operation-controller/package.json
  yarn.lock
Labels: no-changelog

#5986 feat: support incoming transaction polling only when viewing activity
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/TransactionController.test.ts
  packages/transaction-controller/src/TransactionController.ts
  packages/transaction-controller/src/helpers/IncomingTransactionHelper.test.ts
  packages/transaction-controller/src/helpers/IncomingTransactionHelper.ts
Labels: team-confirmations

#6011 Release/446.0.0
  package.json
  packages/bridge-controller/CHANGELOG.md
  packages/bridge-controller/package.json
  packages/bridge-status-controller/CHANGELOG.md
  packages/bridge-status-controller/package.json
  yarn.lock
Labels: no-changelog

#6013 Release/447.0.0
  package.json
  packages/chain-agnostic-permission/CHANGELOG.md
  packages/chain-agnostic-permission/package.json
  packages/eip1193-permission-middleware/CHANGELOG.md
  packages/eip1193-permission-middleware/package.json
  packages/multichain-api-middleware/CHANGELOG.md
  packages/multichain-api-middleware/package.json
  yarn.lock
Labels: no-changelog

#5984 feat(KeyringController): add `exportEncryptionKey` method to export vault key
  packages/keyring-controller/CHANGELOG.md
  packages/keyring-controller/src/KeyringController.test.ts
  packages/keyring-controller/src/KeyringController.ts
  packages/keyring-controller/src/constants.ts
Labels: team-web3auth

#6018 chore: remove queued request controller deprecated package
  .github/CODEOWNERS
  README.md
  eslint-warning-thresholds.json
  packages/queued-request-controller/CHANGELOG.md
  packages/queued-request-controller/LICENSE
  packages/queued-request-controller/README.md
  packages/queued-request-controller/jest.config.js
  packages/queued-request-controller/package.json
  packages/queued-request-controller/src/QueuedRequestController.test.ts
  packages/queued-request-controller/src/QueuedRequestController.ts
  packages/queued-request-controller/src/QueuedRequestMiddleware.test.ts
  packages/queued-request-controller/src/QueuedRequestMiddleware.ts
  packages/queued-request-controller/src/index.ts
  packages/queued-request-controller/src/types.ts
  packages/queued-request-controller/tsconfig.build.json
  packages/queued-request-controller/tsconfig.json
  packages/queued-request-controller/typedoc.json
  teams.json
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Labels: team-wallet-api-platform, no-changelog

#6014 feat: update container types
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/TransactionController.test.ts
  packages/transaction-controller/src/TransactionController.ts
Labels: team-confirmations

#5950 Extends `GasFeePoller` to update gas properties for unapproved transaction batches
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/src/TransactionController.ts
  packages/transaction-controller/src/helpers/GasFeePoller.test.ts
  packages/transaction-controller/src/helpers/GasFeePoller.ts
  packages/transaction-controller/src/utils/batch.test.ts
  packages/transaction-controller/src/utils/batch.ts
Labels: team-confirmations

#6027 Release 450.0.0
  package.json
  packages/assets-controllers/package.json
  packages/bridge-controller/package.json
  packages/bridge-status-controller/package.json
  packages/earn-controller/package.json
  packages/transaction-controller/CHANGELOG.md
  packages/transaction-controller/package.json
  packages/user-operation-controller/package.json
  yarn.lock
Labels: team-confirmations, no-changelog

#5995 Seedless controller: store keyring encryption key instead of password
  packages/seedless-onboarding-controller/CHANGELOG.md
  packages/seedless-onboarding-controller/package.json
  packages/seedless-onboarding-controller/src/SeedlessOnboardingController.test.ts
  packages/seedless-onboarding-controller/src/SeedlessOnboardingController.ts
  packages/seedless-onboarding-controller/src/constants.ts
  packages/seedless-onboarding-controller/src/types.ts
  packages/seedless-onboarding-controller/tests/mocks/toprfEncryptor.ts
  yarn.lock
Labels: team-web3auth

#6037 Release/451.0.0
  package.json
  packages/assets-controllers/package.json
  packages/preferences-controller/CHANGELOG.md
  packages/preferences-controller/package.json
  yarn.lock
Labels: team-confirmations, no-changelog

#6015 Reduce default circuit break duration to 2 minutes
  packages/controller-utils/CHANGELOG.md
  packages/controller-utils/src/constants.ts
  packages/controller-utils/src/index.test.ts
  packages/controller-utils/src/index.ts
Labels: team-wallet-framework

#5858 Add basic documentation on data services
  docs/data-services.md
Labels: team-wallet-framework
